# Core functionality - changes here should be rare!
/src/app.py                   @Rohii1515
/src/backend/database.py      @Rohii1515
/src/backend/routers/auth.py  @Rohii1515

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Rohii1515
